<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carrera</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Duvan</td>
            <td>Sanabria</td>
            <td>Software</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Duvan</td>
            <td>Sanabria</td>
            <td>Software</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Duvan</td>
            <td>Sanabria</td>
            <td>Software</td>
            <td>Estudiante</td>
        </tr>




    </tbody>
</table>